/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bulma/sass/utilities/initial-variables'

.fato
    &__main-layout
        display: grid
        grid-template-columns: 200px auto
        grid-auto-rows: auto
        background-color: $grey-dark
        min-height: 100vh

        &--collapsed
            grid-template-columns: 74px auto

    &__sidebar-container
        padding: 5px
    
    &__workspace-container
        padding: 5px 5px 5px 0
        height: calc(100% - 10px)

    &__app-tabs--attached
        margin-bottom: 0 !important

    &__app-tab
        &--active
            a
                color: $grey-dark !important
    
    &__app-tab-body
        width: 100%
        height: calc(100% - 0.75em - 10px)
        background-color: $white
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        padding: 5px

    &__notification
        &--no-app
            max-width: 400px

    &__collapse-button
        margin-right: -20px
        width: calc(1.33em + 10px)
        height: calc(1.33em + 10px)
        line-height: calc(1.33em + 10px)
        background-color: $grey-light
        border-top-left-radius: 4px
        border-bottom-left-radius: 4px
        color: $grey-dark
        text-align: center
        border-right: 3px solid $grey-dark

    &__menu
        padding-top: 36px
    
    &__menu-item
        &--link
            padding: 0.5em 0 !important

// bulma extension
.menu-icon
    a
        border-radius: 2px
        color: #4a4a4a
        display: block
        padding: 0.5em 0.75em
